doctype html
html
    head
        title TwInfluence
        link(href='http://5c4cf848f6454dc02ec8-c49fe7e7355d384845270f4a7a0a7aa1.r53.cf2.rackcdn.com/css/1a39e300513408353c8db4ae0eaf58aebef1386f/css/bootstrap.min.css', rel='stylesheet')
        link(href='http://fonts.googleapis.com/css?family=Montserrat:400,700', rel='stylesheet')
        link(href='http://fonts.googleapis.com/css?family=Domine', rel='stylesheet')
     body
         h1 TwInfluence