
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700,900|Righteous|Abril+Fatface);

body {
    background: -webkit-linear-gradient(90deg, #6cb582 10%, #87d3eb 90%); /* Chrome 10+, Saf5.1+ */
    background:    -moz-linear-gradient(90deg, #6cb582 10%, #87d3eb 90%); /* FF3.6+ */
    background:     -ms-linear-gradient(90deg, #6cb582 10%, #87d3eb 90%); /* IE10 */
    background:      -o-linear-gradient(90deg, #6cb582 10%, #87d3eb 90%); /* Opera 11.10+ */
    background:         linear-gradient(90deg, #6cb582 10%, #87d3eb 90%); /* W3C */
}

body {
    font-size: 100%;
    font-family: Lato;
}
h1 {
    text-align: center;
    font-size: 5em;
    font-family: Righteous;
    margin: 50px auto 0 auto;
    color:white;
}

em {
    font-style: normal;
    color: #fb4444;
    font-size: 150%;
    vertical-align: top;
    line-height: 0.5em;
    font-family:"Lato";
    font-weight:900;
}

h2 {
    text-align: center;
    font-weight: 700;
    font-size: 2.2em;
    margin: 1% 0 0 0;
    color:white;
}

h4 {
    font-weight:300;
    text-align: center;
    marign:0;
    padding:0;
    color:white;
    margin-bottom: 3%;
}

/* yasu */
h5, p {

    text-align: left;
    marign:0;
    padding:0;
    bckground-color:#d3d3d3;
}

h5 {
    font-weight: 700;
}

p {
    font-weight:300;
    font-size: 1.2em;
}

#explanation {
    max-width:800px;
    margin:0 auto 1% auto;
    padding:1%;
    background-color: #ffffff;
    border: .5px solid #d3d3d3;
    border-radius: 10px;
    opacity:0.6;
}


ul.share-buttons{
    list-style: none;
    padding: 0;
}

ul.share-buttons li{
    display: inline;
}

#share-button {
    margin:0 auto 0 auto;
    padding:0;
    text-align: center;
}

#share-button, img {
    max-width:50px;
    max-height:50px;
    display:inline;
}

/*search bar*/
.form-group {
    position: relative;
    margin: 0.2% auto 0 auto;
}

.form-group input {
    font-size: 2em;
    border-radius:0.5em;
}

.form-control {
    height: 2em;
    border: 3px solid #57d757;
    padding: 0 6em 0 1em;
    border-radius:0.5em;
}

.btn-primary {
    background-color: #36c936;
    border-color: #57d757;
    width: 3em;
    height: 2em;
}

.btn-primary:hover {
    background-color: #079107;
    border-color: #36c936;
}

#search {
    border-color: #36c936;
}

/*#vis {*/
/*max-width: 800px;*/
/*max-height: 800px;*/
/*margin: 20px auto 0 auto;*/
/*}*/

/*svg*/
section {
    max-width: 800px;
    max-height: 800px;
    margin: 1% auto 1% auto;
}

.node {
    cursor: pointer;
    fill-opacity: 0.3;
    /*stroke: #079107;*/
    /*stroke-width: 0.5em;*/
}

.node--root {
    fill: #000;
    fill-opacity: .1;
    stroke: transparent;
}

.node--leaf {
    fill-opacity: .9;
    stroke: #fff;
    stroke-width: 0.1em;
}

.node:hover {
    /*stroke: #d3d3d3;
    stroke-width: 0.3em;*/
    fill-opacity: 0.8;
}

.node--root {
    pointer-events: none;
}

.node--leaf:hover {
    /*stroke: #d3d3d3;
    stroke-width: 0.2em;*/
    fill-opacity: .5;
}

.handle {
    font-weight: 900;
    fill: white;
    text-shadow: 5px, 5px, #000000;
    /*stroke: black;*/
    stroke-width: 0.1em;
    stroke-opacity: 0.2;

}

.tweet {
    font-family: Lato;
    font-weight: 400;
    font-size: 1.2em;
    fill: white;
    text-shadow: 5px, 5px, #000000;
    /*stroke: #CCCCCC;*/
    stroke-width: 0.1em;
    stroke-opacity: 0.3;
}

.image {
    vertical-align: middle;
}
