
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700|Righteous|Abril+Fatface);

h1 {
    text-align: center;
    font-size: 7em;
    font-family: Righteous;
    margin: 50px auto 0 auto;
}
em {
    font-style: normal;
    color: #fb4444;
}
h2 {
    text-align: center;
    font-family: Lato;
    font-weight: 700;
    font-size: 2em;
    margin-top: 2%;
}

.btn-primary {
    background-color: #36c936;
    border-color: #57d757;
}

.btn-primary:hover {
    background-color: #079107;
    border-color: #36c936;
}

#search {
    border-color: #36c936;
}

.node {
    cursor: pointer;
}

.node:hover {
    stroke: #000;
    stroke-width: 1.5px;
}

.node--leaf {
    fill: #84e684;
}

.label {
    font: 11px "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-anchor: middle;
    text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff, 0 -1px 0 #fff;
}

.label,
.node--root,
.node--leaf {
    pointer-events: none;
}